label {
  display: block;
}

#contact_form * {
  width: 300px;
}
#contact_form {
  margin-left: 15px;
}
#note_form * {
  width: 300px;
}
#note_form {
  margin-left: 15px;
}
.form-actions {
  width: 350px;
  text-align: right;
  margin-top: 6px;
  padding-top: 2px;
  border-top: 1px solid black;
  margin-bottom: 4px;
}
.form-actions #submitbtn, .form-actions #cancelbtn {
  text-align: center;
  right: 0px;
  left: auto;
  width: 100px;
  margin-top: 2px;
}